{{/*
SPDX-FileCopyrightText: 2021 Phu Hung Nguyen <phu@kde.org>
SPDX-FileCopyrightText: 2022 Carl Schwan <carlschwan@kde.org>
SPDX-License-Identifier: GPL-3.0-or-later
*/}}

{{ define "head-import" }}
{{ $swiperCss := resources.Get "css/swiper-bundle.min.css" }}
<link rel="stylesheet" href="{{ $swiperCss.RelPermalink }}" />
{{ $oldStyle := resources.Get "scss/components/swiper.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $oldStyle.RelPermalink }}" integrity="{{ $oldStyle.Data.Integrity }}" />

{{ $style := resources.Get "scss/applications.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" />
<link rel="stylesheet" href="https://cdn.kde.org/breeze-icons/icons.css" />
{{ end }}

{{ define "main" }}
  <main itemscope itemtype="http://schema.org/SoftwareApplication">
    <meta itemprop="operatingSystem" content="Linux" />
    <meta itemprop="name" content="{{ .Params.name }}"/>
    <meta itemprop="isFamilyFriendly" content="true"/>
    <meta itemprop="applicationCategory" content="{{ .Params.MainCategory }}"/>

    {{ partial "app_top.html" . }}

    <div class="container" style="overflow: hidden;">
      {{ partial "app_main_top.html" . }}
      <div class="row">
        <section class="description col-12 col-md-8 col-lg-9">
          {{ partial "app_main_btm_left_top.html" . }}
          {{ partial "app_main_btm_left_btm.html" . }}
        </section>
        {{ partial "app_main_btm_right.html" . }}
      </div>
    </div>
  </main>
{{ end }}

{{ define "tail-import" }}
{{ $swiperJs := resources.Get "js/swiper-bundle.min.js" }}
<script src="{{ $swiperJs.RelPermalink }}"></script>

{{ $swiperInit := resources.Get "js/swiper-init.js" }}
{{ $os := resources.Get "js/os.js" }}
{{ $js := slice $swiperInit $os | resources.Concat "js/app-bundle.js" }}
{{ if .Site.IsServer }}
<script src="{{ $js.RelPermalink }}"></script>
{{ else }}
{{ $js = $js | minify | fingerprint }}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous" defer=""></script>
{{ end }}
{{ end }}
